@model NovelTee.ViewModels.RandomTeeViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Tee > 5 ? "popular" : null;
    
}

<h2 class="@className">@Model.Tee</h2>
@if(Model.Tee.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var tee in Model.Tee)
        {
            <li>@tee.Name</li>
            <li>
                <img src='@Url.Content(Model.Image)' data-holder-rendered="true" style="height: 200px; width: 100%; display: block;" />
            </li>
        }
    </ul>
}



